<td>
    {% if field.form.hidden_tag is defined %}
        {{ field.form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in field.form if f.widget.input_type == 'hidden' %}
            {{ f(**form_opts.widget_args.get(f.short_name, {})) }}
        {% endfor %}
    {% endif %}
    <div class="row-action">
        <a href="javascript:void(0)"
           onclick="faForm.addInlineField(this, 'records');">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <a href="javascript:void(0)"
           onclick="faForm.deleteField(this, {{ True if field.get_pk and field.get_pk() else False | tojson | safe }});">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    </div>
    {{ field.form.summary(class="summary-field") | safe }}
</td>
<td>
    {{ field.form.account() | safe }}
</td>
<td class="debit">
    <input type="text">
    <span></span>
</td>
<td class="debit"><span></span></td>
<td class="debit thousand"><span></span></td>
<td class="debit"><span></span></td>
<td class="debit"><span></span></td>
<td class="debit thousand"><span></span></td>
<td class="debit"><span></span></td>
<td class="debit"><span></span></td>
<td class="debit decimal"><span></span></td>
<td class="debit"><span></span></td>
<td class="debit last"><span></span></td>

<td class="credit">
    <input type="text">
    <span></span>
</td>
<td class="credit"><span></span></td>
<td class="credit thousand"><span></span></td>
<td class="credit"><span></span></td>
<td class="credit"><span></span></td>
<td class="credit thousand"><span></span></td>
<td class="credit"><span></span></td>
<td class="credit"><span></span></td>
<td class="credit decimal"><span></span></td>
<td class="credit"><span></span></td>
<td class="credit last"><span></span></td>
