{% extends 'admin/model/create.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro render_field(field) %}
    {% set _dummy = kwargs.setdefault('class', 'form-control') %}
    {% if h.is_field_error(field.errors) %}
        {% set _dummy = kwargs.update({'class': kwargs['class'] + ' has-error'}) %}
    {% endif %}
    {{ field(**kwargs)|safe }}
{% endmacro %}

{% block head %}
{{ super() }}
<style>
    .voucher {
        border: 1px solid #888;
        background-color: #fefef2;
        position: relative;
        padding: 25px;
    }

    .voucher .title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .voucher .index {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    .voucher .index input {
        width: 44px;
        text-align: center;
    }

    .voucher .date {
        position: absolute;
        left: 25px;
        top: 25px;
    }

    .voucher .period {
        position: absolute;
    }

    .voucher .company .select2-container {
        display: inline-block;
        margin-right: 20px;
    }

    .voucher .company select {
        width: 25%;
    }

    .voucher .clear {
        clear: both;
    }

    .records {
        border: 2px solid #888;
    }

    .table-bordered>tbody>tr>td,
    .table-bordered>thead>tr>td {
        border-color: #888;
    }


    .table-bordered>thead>tr>td.debit,
    .table-bordered>thead>tr>td.credit,
    .table-bordered>tbody>tr>td.debit,
    .table-bordered>tbody>tr>td.credit {
        border-right-color: #ddd;
    }

    .table-bordered>thead>tr>td[colspan='11'] {
        border-bottom-color: #ddd;
    }

    .table-bordered>thead>tr>td.debit,
    .table-bordered>thead>tr>td.credit,
    .table-bordered>thead>tr>td {
        border-bottom-width: 1px;
        border-bottom-color: #888;
    }

    .table-bordered>thead>tr>td.thousand,
    .table-bordered>tbody>tr>td.thousand {
        border-right-color: #88dd88;
    }

    .table-bordered>thead>tr>td.decimal,
    .table-bordered>tbody>tr>td.decimal {
        border-right-color: #dd8888;
    }

    .table-bordered>thead>tr>td.last,
    .table-bordered>tbody>tr>td.last {
        border-right-color: #888;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        vertical-align: middle;
    }

    .voucher thead {
        text-align: center;
        font-weight: bold;
    }

    .voucher .units {
        font-size: 11px;
    }

    .voucher .units td {
        padding: 2px;
    }

    tr:hover .row-action {
        display: block;
    }

    .table-hover>tbody>tr:hover {
        background-color: #f5f5f0;
    }

    tr.record,
    tr.summary {
        height: 60px;
        line-height: 60px;
    }

    td.debit,
    td.credit,
    tr.summary {
        font-weight: bold;
    }

    .voucher td {
        position: relative;
    }

    .voucher input {
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .voucher input:focus {
        background-color: #fff;
    }

    .row-action {
        position: absolute;
        right: 100%;
        top: 0;
        width: 2em;
        display: none;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
    }

    .record td:nth-child(1),
    .record td:nth-child(2) {
        width: 35%;
    }

    .record .select2-container,
    .record td select,
    .record td input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .record td input {
        padding: 10px;
    }

    .record .select2-container {
        position: absolute;
    }

    .record .select2-container {
        height: 100%;
        line-height: 60px;
        background-color: transparent;
    }

    .record .select2-choice {
        line-height: 40px;
        height: 100%;
        background-color: transparent;
        padding: 10px;
    }

    .record .select2-choice > span {
        padding: 0;
    }

    .record .select2-container a {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .record .select2-container .select2-choice .select2-arrow b,
    .record .select2-container .select2-choice div b {
        background-position-y: 15px;
    }

    #records-template {
        display: none;
    }

    .record td.debit input,
    .record td.credit input {
        right: auto;
        width: calc(1100% + 10px);
        display: none;
        z-index: 10;
        text-align: right;
    }

    .record td.debit,
    .record td.credit {
        cursor: text;
        width: 15px;
    }

    td.debit span,
    td.credit span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        line-height: 60px;
        text-align: center;
    }
</style>
{% endblock %}

{% block create_form %}
    <ul>
    {% for f in form if f.widget.input_type != 'hidden' %}
        {% for e in f.errors if e is string %}
            <li>{{ f.short_name }} : {{ e }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <form action="{{ action or '' }}" method="POST" role="form"
          class="admin-form form-inline" enctype="multipart/form-data">
        <div class="voucher">
            <div class="date">
                {{ render_field(form.date) }}
            </div>
            <div class="title">
                记账凭证
            </div>
            <div class="index">
                凭证字 记
                {{ render_field(form.index) }}
                号
            </div>
{#            <div class="period">#}
{#                {{ render_field(form.period) }}#}
{#            </div>#}
            <table class="records table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <td rowspan="2">
                        摘要
                    </td>
                    <td rowspan="2">
                        会计科目
                    </td>
                    <td colspan="11" class="units">
                        借方金额
                    </td>
                    <td colspan="11" class="units">
                        贷方金额
                    </td>
                </tr>
                <tr class="units">
                    <td class="debit">亿</td>
                    <td class="debit">千</td>
                    <td class="debit thousand">百</td>
                    <td class="debit">十</td>
                    <td class="debit">万</td>
                    <td class="debit thousand">千</td>
                    <td class="debit">百</td>
                    <td class="debit">十</td>
                    <td class="debit decimal">元</td>
                    <td class="debit">角</td>
                    <td class="debit last">分</td>
                    <td class="credit">亿</td>
                    <td class="credit">千</td>
                    <td class="credit thousand">百</td>
                    <td class="credit">十</td>
                    <td class="credit">万</td>
                    <td class="credit thousand">千</td>
                    <td class="credit">百</td>
                    <td class="credit">十</td>
                    <td class="credit decimal">元</td>
                    <td class="credit">角</td>
                    <td class="credit last">分</td>
                </tr>
                </thead>
                <tbody>
                {{ form.records() | safe }}
                <tr class="summary">
                    <td colspan="2">
                        合计：
                        <span></span>
                    </td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit thousand"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit thousand"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit decimal"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit last"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit thousand"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit thousand"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit decimal"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit last"><span></span></td>
                </tr>
                </tbody>
            </table>
            <div class="company">
                {{ render_field(form.company) }}
                制单人：
            </div>

            <div class="clear"></div>
        </div>
        {{ lib.render_form_buttons(return_url, extra(), False) }}
    </form>
{% endblock %}

{% block tail %}
    {{ super() }}
<script>
(function() {
    faForm.addInlineField = function (el, elID) {
        // Get current inline field
        var $el = $(el).closest('tr');
        // Figure out new field ID
        var id = elID;

        var maxId = 0;

        $('.record').each(function (idx, field) {
            var $field = $(field);

            var parts = $field.attr('id').split('-');
            idx = parseInt(parts[parts.length - 1], 10) + 1;

            if (idx > maxId) {
                maxId = idx;
            }
        });

        var prefix = id + '-' + maxId;

        // Get template
        var $template = $($('#records-template').find('> td').text());

        // Set form ID
        $template.attr('id', prefix);

        // Fix form IDs
        $('[name]', $template).each(function (e) {
            var me = $(this);

            var id = me.attr('id');
            var name = me.attr('name');

            id = prefix + (id !== '' ? '-' + id : '');
            name = prefix + (name !== '' ? '-' + name : '');

            me.attr('id', id);
            me.attr('name', name);
        });

        $template.insertBefore($el);

        // Select first field
        $('input:first', $template).focus();

        // Apply styles
        faForm.applyGlobalStyles($template);
    };

    faForm.deleteField = function(el, hasID) {
        if ($('.record').size() == 2) return;
        if (hasID) {
        } else {
            $(el).closest('.record').remove();
        }
    };

    var digitUppercase = function (n) {
        var fraction = ['角', '分'];
        var digit = [
            '零', '壹', '贰', '叁', '肆',
            '伍', '陆', '柒', '捌', '玖'
        ];
        var unit = [
            ['元', '万', '亿'],
            ['', '拾', '佰', '仟']
        ];
        var head = n < 0 ? '欠' : '';
        n = Math.abs(n);
        var s = '';
        for (var i = 0; i < fraction.length; i++) {
            s += (digit[Math.floor(n * 10 * Math.pow(10, i)) % 10] + fraction[i]).replace(/零./, '');
        }
        s = s || '整';
        n = Math.floor(n);
        for (var i = 0; i < unit[0].length && n > 0; i++) {
            var p = '';
            for (var j = 0; j < unit[1].length && n > 0; j++) {
                p = digit[n % 10] + unit[1][j] + p;
                n = Math.floor(n / 10);
            }
            s = p.replace(/(零.)*零$/, '').replace(/^$/, '零') + unit[0][i] + s;
        }
        return head + s.replace(/(零.)*零元/, '元')
                        .replace(/(零.)+/g, '零')
                        .replace(/^整$/, '零元整');
    };

    var setAmount = function(el, direction, amount) {
        var tds = $(el).children(direction);
        $('> span', tds).text('');
        var i = 1;
        while (amount > 0 || i < 4) {
            var digit = amount % 10;
            amount = Math.floor(amount / 10);
            $('> span', tds[tds.size() - i]).text(digit);
            i++;
        }
    };

    var records = $('.record');
    var left = 4 - records.size();
    var body = $('body');
    for (var i = 0; i < left; i++)
        faForm.addInlineField('#records-template', 'records')
    body.on('click', '.record td.debit, .record td.credit', function() {
        var self = $(this);
        self.parent().children('.' + self.attr('class')).first().children().show().focus();
    });
    body.on('blur', '.record td.debit input, .record td.credit input', function() {
        var self = $(this);
        var td = self.parent();
        var tr = td.parent();
        self.hide();
        $('td.debit > span, td.credit > span', tr).text('');
        if (!self.val()) {
            self.val('');
            $('.amount', tr).val('');
        } else {
            var amount = Math.round(self.val() * 100);
            var direction = '.' + td.attr('class');
            $('.debit input, .credit input', tr).val('');
            self.val(amount / 100);
            $('.amount', tr).val(amount / 100);
            $('.direction', tr).val(direction == '.debit' ? '{{ models.Direction.debit.value }}' : '{{ models.Direction.credit.value }}');
            setAmount(tr, direction, amount);
        }
        var sum = {'1': 0, '-1': 0};
        $('.record').each(function() {
            if ($('.amount', this).val() != '')
                sum[$('.direction', this).val()] += Math.round(parseFloat($('.amount', this).val()) * 100);
        });
        setAmount('.summary', '.debit', sum['1']);
        setAmount('.summary', '.credit', sum['-1']);
        if (sum['1'] == sum['-1']) {
            $('.summary > td > span').first().text(digitUppercase(sum['1'] / 100));
        } else
            $('.summary > td > span').first().text('');
    });
    records.each(function() {
        var self = $(this);
        $($('.direction', self).val() == '{{ models.Direction.debit.value }}' ? '.debit input' : '.credit input', self).val($('.amount', self).val()).blur();
    });
})();
</script>
{% endblock %}
