{% extends 'admin/model/create.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block head %}
{{ super() }}
<style>
    .voucher {
        border: 1px solid #888;
        background-color: #fefefe;
        position: relative;
        padding: 10px;
    }

    .voucher .title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .voucher .index {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .voucher .date {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .voucher .period {
        position: absolute;
    }

    .voucher .company .select2-container {
        display: inline-block;
        margin-right: 20px;
    }

    .voucher .company select {
        width: 25%;
    }

    .voucher .clear {
        clear: both;
    }

    .records {
        border: 2px solid #888;
    }

    .table-bordered>tbody>tr>td,
    .table-bordered>thead>tr>td {
        border-color: #888;
    }


    .table-bordered>thead>tr>td.debit,
    .table-bordered>thead>tr>td.credit,
    .table-bordered>tbody>tr>td.debit,
    .table-bordered>tbody>tr>td.credit {
        border-right-color: #ddd;
    }

    .table-bordered>thead>tr>td[colspan='11'] {
        border-bottom-color: #ddd;
    }

    .table-bordered>thead>tr>td.debit,
    .table-bordered>thead>tr>td.credit,
    .table-bordered>thead>tr>td {
        border-bottom-width: 1px;
        border-bottom-color: #888;
    }

    .table-bordered>thead>tr>td.thousand,
    .table-bordered>tbody>tr>td.thousand {
        border-right-color: #88dd88;
    }

    .table-bordered>thead>tr>td.decimal,
    .table-bordered>tbody>tr>td.decimal {
        border-right-color: #dd8888;
    }

    .table-bordered>thead>tr>td.last,
    .table-bordered>tbody>tr>td.last {
        border-right-color: #888;
    }

    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        vertical-align: middle;
    }

    .voucher thead {
        text-align: center;
        font-weight: bold;
    }

    .voucher .units {
        font-size: 11px;
    }

    .voucher .units td {
        padding: 2px;
    }

    tr:hover .row-action {
        display: block;
    }

    tr.record {
        height: 60px;
        line-height: 60px;
    }

    .record td {
        position: relative;
    }

    .row-action {
        position: absolute;
        right: 100%;
        top: 0;
        width: 2em;
        display: none;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
    }

    .record td:nth-child(1),
    .record td:nth-child(2) {
        width: 35%;
    }

    .record .select2-container,
    .record td select,
    .record td input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    .record td input:focus {
        background-color: #fff;
    }

    .record .select2-container {
        position: absolute;
    }

    .record .select2-container,
    .record .select2-choice {
        height: 100%;
        line-height: 60px;
        background-color: transparent;
    }

    .record .select2-choice > span {
        padding: 0;
    }

    .record .select2-container a {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .record .select2-container .select2-choice .select2-arrow b,
    .record .select2-container .select2-choice div b {
        background-position-y: 15px;
    }

    #records-template {
        display: none;
    }

    .record td.debit input,
    .record td.credit input {
        right: auto;
        width: calc(1100% + 10px);
        display: none;
        z-index: 10;
        text-align: right;
    }

    .record td.debit,
    .record td.credit {
        cursor: text;
        line-height: 60px;
        text-align: center;
        padding: 0;
    }
</style>
{% endblock %}

{% block create_form %}
    <ul>
    {% for f in form if f.widget.input_type != 'hidden' %}
        {% for e in f.errors if e is string %}
            <li>{{ f.short_name }} : {{ e }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <form action="{{ action or '' }}" method="POST" role="form"
          class="admin-form form-inline" enctype="multipart/form-data">
        <div class="voucher">
            <div class="date">
                {{ form.date(class='form-control') | safe }}
            </div>
            <div class="title">
                记账凭证
            </div>
            <div class="index">
                凭证字 记
                {{ form.index(class='form-control') | safe }}
                号
            </div>
{#            <div class="period">#}
{#                {{ form.period(class='form-control') | safe }}#}
{#            </div>#}
            <table class="records table table-bordered table-condensed table-hover">
                <thead>
                <tr>
                    <td rowspan="2">
                        摘要
                    </td>
                    <td rowspan="2">
                        会计科目
                    </td>
                    <td colspan="11" class="units">
                        借方金额
                    </td>
                    <td colspan="11" class="units">
                        贷方金额
                    </td>
                </tr>
                <tr class="units">
                    <td class="debit">亿</td>
                    <td class="debit">千</td>
                    <td class="debit thousand">百</td>
                    <td class="debit">十</td>
                    <td class="debit">万</td>
                    <td class="debit thousand">千</td>
                    <td class="debit">百</td>
                    <td class="debit">十</td>
                    <td class="debit decimal">元</td>
                    <td class="debit">角</td>
                    <td class="debit last">分</td>
                    <td class="credit">亿</td>
                    <td class="credit">千</td>
                    <td class="credit thousand">百</td>
                    <td class="credit">十</td>
                    <td class="credit">万</td>
                    <td class="credit thousand">千</td>
                    <td class="credit">百</td>
                    <td class="credit">十</td>
                    <td class="credit decimal">元</td>
                    <td class="credit">角</td>
                    <td class="credit last">分</td>
                </tr>
                </thead>
                <tbody>
                {{ form.records() | safe }}
                <tr>
                    <td colspan="2">合计</td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit thousand"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit thousand"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit decimal"><span></span></td>
                    <td class="debit"><span></span></td>
                    <td class="debit last"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit thousand"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit thousand"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit decimal"><span></span></td>
                    <td class="credit"><span></span></td>
                    <td class="credit last"><span></span></td>
                </tr>
                </tbody>
            </table>
            <div class="company">
                {{ form.company(class='form-control') | safe }}
                制单人：
            </div>

            <div class="clear"></div>
        </div>
        {{ lib.render_form_buttons(return_url, extra(), False) }}
    </form>
{% endblock %}

{% block tail %}
    {{ super() }}
<script>
(function() {
    faForm.addInlineField = function (el, elID) {
        // Get current inline field
        var $el = $(el).closest('tr');
        // Figure out new field ID
        var id = elID;

        var maxId = 0;

        $('.record').each(function (idx, field) {
            var $field = $(field);

            var parts = $field.attr('id').split('-');
            idx = parseInt(parts[parts.length - 1], 10) + 1;

            if (idx > maxId) {
                maxId = idx;
            }
        });

        var prefix = id + '-' + maxId;

        // Get template
        var $template = $($('#records-template').find('> td').text());

        // Set form ID
        $template.attr('id', prefix);

        // Fix form IDs
        $('[name]', $template).each(function (e) {
            var me = $(this);

            var id = me.attr('id');
            var name = me.attr('name');

            id = prefix + (id !== '' ? '-' + id : '');
            name = prefix + (name !== '' ? '-' + name : '');

            me.attr('id', id);
            me.attr('name', name);
        });

        $template.insertBefore($el);

        // Select first field
        $('input:first', $template).focus();

        // Apply styles
        faForm.applyGlobalStyles($template);
    };

    faForm.deleteField = function(el, hasID) {
        if ($('.record').size() == 2) return;
        if (hasID) {
        } else {
            $(el).closest('.record').remove();
        }
    };

    var records = $('.record');
    var left = 4 - records.size();
    var body = $('body');
    for (var i = 0; i < left; i++)
        faForm.addInlineField('#records-template', 'records')
    body.on('click', '.record td.debit, .record td.credit', function() {
        var self = $(this);
        self.parent().children('.' + self.attr('class')).first().children().show().focus();
    });
    body.on('blur', '.record td.debit input, .record td.credit input', function() {
        var self = $(this);
        self.hide();
        if (!self.val()) return;
        var amount = Math.round(self.val() * 100);
        var td = self.parent();
        var tr = td.parent();
        var direction = '.' + td.attr('class');
        $('.debit input, .credit input', tr).val('');
        self.val(amount / 100);
        $('.amount', tr).val(amount / 100);
        $('.direction', tr).val(direction == '.debit' ? '{{ models.Direction.debit.value }}' : '{{ models.Direction.credit.value }}');
        var tds = tr.children(direction);
        $('td.debit > span, td.credit > span', tr).text('');
        var i = 1;
        while (amount > 0 || i < 4) {
            var digit = amount % 10;
            amount = Math.floor(amount / 10);
            $('> span', tds[tds.size() - i]).text(digit);
            i++;
        }
    });
    records.each(function() {
        var self = $(this);
        $($('.direction', self).val() == '{{ models.Direction.debit.value }}' ? '.debit input' : '.credit input', self).val($('.amount', self).val()).blur();
    });
})();
</script>
{% endblock %}
